@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    margin:0 !important;
    padding:0 !important; 
    background-image: url('./assets/home-image.jpeg');
}

